.cartContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.cartListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    box-shadow: #bfbfbf 0px 1px 3px 0px;
    padding: 0.3rem;
}

.cartItemDetail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr auto;
  align-items: center;
  border-bottom: 0.5px solid #bfbfbf21;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.378);
  gap: 1rem;
}

.cartItemDetail > :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.clearCartBtn{
    background-color: royalblue;
}

.cartRemoveBtn{
   background-color: #ed5151;
}

.cartInput {
    width: 60px;
    padding: 0.3em;
    border-radius: 0.5rem;
    border: 1px solid #bfbfbf7b;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0.5rem;
    color: #000;
}