.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 5rem auto 2rem;
  background-color: #f8fafc;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 480px;
}

.contactContainer h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e171b;
  margin-bottom: 1rem;
}

.contactText{
  text-align: center;
  max-width: 400px;
  color: #0e171b;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.contactInputs {
  background-color: #f8fafc;
  border: 1px solid #d0dfe7;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #0e171b;
  width: 100%;
  resize: none;
  min-height: 56px;

}

.contactInputs::placeholder {
  color: #4e7f97;
}

.contactBtn {
  background-color: #47b4ea;
  color: #0e171b;
  font-weight: 700;
  border: none;
  border-radius: 0.75rem;
  height: 40px;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 0 1rem;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #1b82b2;
  }
}


.socialSection {
  width: 100%;
  margin-top: 2rem; 
  &h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0e171b;
  margin-bottom: 1rem;
}
}

.socialLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

.socialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: #f1f5f9;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
}

.socialCardIcon {
  background-color: #e7eff3;
  padding: 0.6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialCardIcon svg {
  fill: #0e171b;
}

.socialCard p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #0e171b;
  margin: 0;
}
