.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del ProductBar */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #e585ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra para diferenciarlo */
}

.link, .activeLink {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: relative; 
    overflow: hidden; 
  }
  
  .activeLink {
    background-color: #ffffff54;

    transition: color 0.3s ease;
  }
  
  .link::after, .activeLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%; 
    height: 2px; 
    background-color: currentColor; 
    transition: width 0.3s ease-in-out;
  }
  
  .link:hover::after, .activeLink:hover::after {
    width: 100%; 
  }

.navbarLogo{
    margin-right: auto;
    margin-left: 0.5rem;
  }
  .navbarLogoLink{
    color: rgb(255, 255, 255);
}
.navbarNavLinks{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.3rem;
}